<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yoero.base"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk android:minSdkVersion="3"  />

    <application
        android:icon="@drawable/ic_launcher"
        android:theme="@style/AppTheme">

    </application>

</manifest>
